# # Prerequisites
# *.d

# # Object files
# *.o
# *.ko
# *.obj
# *.elf

# # Linker output
# *.ilk
# *.map
# *.exp

# # Precompiled Headers
# *.gch
# *.pch

# # Libraries
# *.lib
# *.a
# *.la
# *.lo

# # Shared objects (inc. Windows DLLs)
# *.dll
# *.so
# *.so.*
# *.dylib

# # Executables
# *.exe
# *.out
# *.app
# *.i*86
# *.x86_64
# *.hex

# # Debug files
# *.dSYM/
# *.su
# *.idb
# *.pdb

# # Kernel Module Compile Results
# *.mod*
# *.cmd
# .tmp_versions/
# modules.order
# Module.symvers
# Mkfile.old
# dkms.conf

# bin/Debug/net5.0/

# obj/Debug/net5.0/
# obj/Debug/net5.0/Curriculum-WebApp.csprojAssemblyReference.cache
# bin/release/net5.0/appsettings.Development.json
# bin/release/net5.0/appsettings.json
# bin/release/net5.0/Curriculum-WebApp
# bin/release/net5.0/Curriculum-WebApp.deps.json
# bin/release/net5.0/Curriculum-WebApp.runtimeconfig.dev.json
# bin/release/net5.0/Curriculum-WebApp.runtimeconfig.json
# obj/Curriculum-WebApp.csproj.nuget.dgspec.json
# obj/project.assets.json
# obj/project.nuget.cache
# obj/release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
# obj/release/net5.0/apphost
# obj/release/net5.0/Curriculum-WebApp.AssemblyInfo.cs
# obj/release/net5.0/Curriculum-WebApp.AssemblyInfoInputs.cache
# obj/release/net5.0/Curriculum-WebApp.assets.cache
# obj/release/net5.0/Curriculum-WebApp.csproj.CopyComplete
# obj/release/net5.0/Curriculum-WebApp.csproj.CoreCompileInputs.cache
# obj/release/net5.0/Curriculum-WebApp.csproj.FileListAbsolute.txt
# obj/release/net5.0/Curriculum-WebApp.csprojAssemblyReference.cache
# obj/release/net5.0/Curriculum-WebApp.GeneratedMSBuildEditorConfig.editorconfig
# obj/release/net5.0/Curriculum-WebApp.genruntimeconfig.cache
# obj/release/net5.0/Curriculum-WebApp.MvcApplicationPartsAssemblyInfo.cache
# obj/release/net5.0/Curriculum-WebApp.RazorAssemblyInfo.cache
# obj/release/net5.0/Curriculum-WebApp.RazorAssemblyInfo.cs
# obj/release/net5.0/Curriculum-WebApp.RazorCoreGenerate.cache
# obj/release/net5.0/Curriculum-WebApp.RazorTargetAssemblyInfo.cache
# obj/release/net5.0/Curriculum-WebApp.RazorTargetAssemblyInfo.cs
# obj/release/net5.0/Curriculum-WebApp.TagHelpers.input.cache
# obj/release/net5.0/Curriculum-WebApp.TagHelpers.output.cache
# obj/release/net5.0/PublishOutputs.cae6c26f38.txt
# obj/release/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
# obj/release/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
# obj/release/net5.0/Razor/Views/Home/Index.cshtml.g.cs
# obj/release/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
# obj/release/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
# obj/release/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
# obj/release/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
# obj/release/net5.0/staticwebassets/Curriculum-WebApp.StaticWebAssets.Manifest.cache
# obj/release/net5.0/staticwebassets/Curriculum-WebApp.StaticWebAssets.xml
# obj/Debug/net5.0/Curriculum-WebApp.csprojAssemblyReference.cache

# bin/release/net5.0/watools-log/obj/project.assets.json

# bin/release/net5.0/watools-log/obj/watools-log.csproj.nuget.dgspec.json

# watools-log/bin/release/net5.0/watools-log.deps.json

# watools-log/obj/release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs

# watools-log/obj/release/net5.0/PublishOutputs.f5fbd4f112.txt

# watools-log/obj/release/net5.0/watools-log.AssemblyInfo.cs

# watools-log/obj/release/net5.0/watools-log.AssemblyInfoInputs.cache

# watools-log/obj/release/net5.0/watools-log.assets.cache

# watools-log/obj/release/net5.0/watools-log.csproj.CoreCompileInputs.cache

# watools-log/obj/release/net5.0/watools-log.csproj.FileListAbsolute.txt

# watools-log/obj/release/net5.0/watools-log.csprojAssemblyReference.cache

# watools-log/obj/release/net5.0/watools-log.GeneratedMSBuildEditorConfig.editorconfig
# bin/release/net5.0/watools-log/bin/release/net5.0/watools-log.deps.json

###################
# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
# Include dlls if they're in the CommonReferences directory
!*CommonReferences/*.dll
####################
# VS Upgrade stuff #
####################
UpgradeLog.XML
_UpgradeReport_Files/
###############
# Directories #
###############
bin/
obj/
TestResults/
###################
# Web publish log #
###################
*.Publish.xml
#############
# Resharper #
#############
/_ReSharper.*
*.ReSharper.*
############
# Packages #
############
# it’s better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
######################
# Logs and databases #
######################
*.log
*.sqlite
# OS generated files #
######################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over

appsettings.json
