@{
    ViewData["Title"] = "Acceso CV Web App";
}


<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>

    <div class="text-info">
        <p> Acceso autorizado</p>
    </div>
</div>
