@{
    ViewData["Title"] = "Términos y condiciones de uso de la apliacion Curriculum Web App";
}


<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <div class="text-warning">
        <p> Términos y condiciones de uso en desarrollo</p>
    </div>

</div>
