<div class="accordion accordion-flush" id="accordionCapacidades">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Idiomas
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">
                <ul>
                    <li>
                        lengua materna castellano
                    </li>
                    <li>
                        otros idiomas
                    </li>
                    <li>
                        ingles (b1 / b2) -
                    </li>
                    <li>
                        lectura / escritura / expresión oral media / media / media /
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Capacidades y competencias sociales
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">
                <ul>
                    <li>
                        altas dotes de comunicación y gran facilidad de palabra.
                    </li>
                    <li>
                        resolución de imprevistos, gran capacidad para encontrar soluciones.
                    </li>
                    <li>
                        buena presencia y trato agradable.
                    </li>
                    <li>
                        carácter constructivo orientado a formar grupo y equipo.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                capacidades y competencias organizativas
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">
                <h4></h4>>
                <ul>
                    <li>
                        planificación y trazabilidad de proyectos individuales y colectivos.
                    </li>
                    <li>
                        coordinación de grandes grupos (reuniones, equipos, informes).
                    </li>
                    <li>
                        recogida de datos, análisis posteriores y toma de decisiones
                    </li>
                    <li>
                        cálculos de previsiones a corto, medio y largo plazo para la consecución de objetivos.
                    </li>
                    <li>
                        coordinación con proveedores/distribuidores para la gestión de servicios y/o productos
                        requeridos por la empresa
                        cliente.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                capacidades y competencias tecnicas
            </button>
        </h2>
        <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">

                <ul>
                    <li>
                        windows 2000/ xp / vista / 7 / 8 / 10 home / profesional / enterprise x32 & x64
                    </li>
                    <li>
                        windows server 2008/2012/2016 (dns, dhcp, ad,gpos, wds,sccm,hyperv)
                    </li>
                    <li>
                        lenguajes de programación:
                        <ul>
                            <li>
                                visual basic .net / c# > entity framework & linq; asp.net(mvc) (visual studio 2010/2019)
                            </li>
                            <li>
                                java se (netbeans, eclipse), sprng
                            </li>
                            <li>
                                sql, transact-sql, pl/sql (sql server 2008/2016 oracle database 9i /11g)
                            </li>
                            <li>
                                xml / html / html5 / css3 (con dreamweaver antiguamente)
                            </li>

                        </ul>

                    </li>
                    <li>
                        conocimientos avanzados de redes y comunicaciones (ip v4&v6 tcp /ip – http/https telnet – rdp –
                        vpn, lan ,wifi, routers, switches,….)
                    </li>

                    <li>
                        manejo avanzado de cms (gestores de contenido: joomla, wordpress)
                    </li>
                    <li>
                        manejo medio de sistemas mac y linux terminal (bash – scripting y pipes)
                    </li>
                    <li>
                        mac os x snowleopard, ubuntu 7 / 14, open suse 12.3, debian 7.1/8, cent os 7
                    </li>
                    <li>
                        administración y gestión de diversos sistemas de back-up.
                    </li>
                    <li>
                        técnicas de seguridad y soluciones gnu / gpl.(truecrypt, cobian back-up)
                    </li>
                    <li>
                        word, excel, ppt, access (vba, macros, complementos)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                capacidades y competencias artísticas
            </button>
        </h2>
        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">

                <ul>
                    <li>
                        maquetación web / maquetación documental
                    </li>
                    <li>
                        (las siguientes capacidades y competencias hacen referencia a aficiones personales)
                        <ul>

                            <li>
                                fotografía (photoshop cs6)
                            </li>
                            <li>
                                producción musical (logic pro8, audacity, traktor pro2.5)
                            </li>
                            <li>
                                desarrollo de video.(premiere, affter efects)
                            </li>
                            <li>
                                tecnologías aplicadas a la música (hardware native instruments x1, f1, s4).
                            </li>
                            <li>
                                dirección y maquetación de audiovisuales
                            </li>
                        </ul>

                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                Otras capacidades y competencias
            </button>
        </h2>
        <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">

                <ul>
                    <li>
                        gran capacidad de adaptación
                    </li>
                    <li>
                        aprendizaje rápido y fácil capacidad de asimilación
                    </li>
                    <li>
                        facilidad para trabajar en equipo
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                Permiso de conducción
            </button>
        </h2>
        <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">
                <ul>
                    <li>
                        Permiso de conducir: B
                    </li>
                    <li>
                        Vehículo propio: No
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                INFORMACIÓN ADICIONAL
            </button>
        </h2>
        <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8"
            data-bs-parent="#accordionCapacidades">
            <div class="accordion-body">
                
                <ul>
                    <li>
                        PERSONA PROACTIVA Y COMPROMETIDA
                    </li>
                    <li>
                        GANAS DE TRABAJAR Y CRECER TANTO PROFESIONAL COMO PERSONALMENTE, DE UNA MANERA CONTINUA, REGULAR
                        Y CONSTANTE.
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
