<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <div class="col col-sm-1 mx-auto text-center mt-3">
                <img src="/img/icons/chip.png" class="card-img-top ">
            </div>

            <div class="card-body">
                <h5 class="card-title">Tecnicas</h5>
                <p class="card-text">
                <p>

                <ul class="letraSmall">
                    <li>
                        windows 2000/ xp / vista / 7 / 8 / 10 home / profesional / enterprise x32 & x64
                    </li>
                    <li>
                        windows server 2008/2012/2016 (dns, dhcp, ad,gpos, wds,sccm,hyperv)
                    </li>
                    <li>
                        lenguajes de programación:
                        <ul>
                            <li>
                                visual basic .net / c# > entity framework & linq; asp.net(mvc) (visual studio
                                2010/2019)
                            </li>
                            <li>
                                java se (netbeans, eclipse), sprng
                            </li>
                            <li>
                                sql, transact-sql, pl/sql (sql server 2008/2016 oracle database 9i /11g)
                            </li>
                            <li>
                                xml / html / html5 / css3 (con dreamweaver antiguamente)
                            </li>

                        </ul>

                    </li>
                    <li>
                        conocimientos avanzados de redes y comunicaciones (ip v4&v6 tcp /ip – http/https telnet
                        – rdp –
                        vpn, lan ,wifi, routers, switches,….)
                    </li>

                    <li>
                        manejo avanzado de cms (gestores de contenido: joomla, wordpress)
                    </li>
                    <li>
                        manejo medio de sistemas mac y linux terminal (bash – scripting y pipes)
                    </li>
                    <li>
                        mac os x snowleopard, ubuntu 7 / 14, open suse 12.3, debian 7.1/8, cent os 7
                    </li>
                    <li>
                        administración y gestión de diversos sistemas de back-up.
                    </li>
                    <li>
                        técnicas de seguridad y soluciones gnu / gpl.(truecrypt, cobian back-up)
                    </li>
                    <li>
                        word, excel, ppt, access (vba, macros, complementos)

                    </li>
                </ul>
                </p>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-2">
        <div class="card">
            <img src="/img/icons/spain.png" class="card-img-top w-25" alt="...">
            <img src="/img/icons/uk.png" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Idiomas</h5>
                <div class="d-inline">
                    <p class="card-text">
                        Castellano : Nativo
                        ingles (b1 / b2)
                        lectura / escritura / expresión oral media / media / media /
                    </p>
                </div>


            </div>
        </div>
    </div>

    <div class="col col-sm-2">
        <div class="card">
            <img src="/img/icons/car.png" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Transporte</h5>
                <p class="card-text">
                    Permiso de conducir: B
                    Vehículo propio: No
                </p>
            </div>
        </div>
    </div>

    <div class="col col-sm-2">
        <div class="card">
            <img src="/img/icons/social.png" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sociales</h5>
                <p class="card-text">
                <p>
                    altas dotes de comunicación y gran facilidad de palabra.
                    resolución de imprevistos, gran capacidad para encontrar soluciones.
                    buena presencia y trato agradable.
                    carácter constructivo orientado a formar grupo y equipo.
                </p>


                </p>
            </div>
        </div>
    </div>

    <div class="col col-sm-2">
        <div class="card">
            <img src="/img/icons/organizar.png" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Organizacion</h5>
                <p class="card-text">
                <p>
                    planificación y trazabilidad de proyectos individuales y colectivos.
                    coordinación de grandes grupos (reuniones, equipos, informes).
                    recogida de datos, análisis posteriores y toma de decisiones
                    cálculos de previsiones a corto, medio y largo plazo para la consecución de objetivos.
                    coordinación con proveedores/distribuidores para la gestión de servicios y/o productos
                    requeridos por la empresa
                    cliente.
                </p>
                </p>
            </div>
        </div>
    </div>


    <div class="col col-sm-2">
        <div class="card">
            <img src="/img/icons/paint-palette.png" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Artísticas</h5>
                <p class="card-text">
                <p>
                    (las siguientes capacidades y competencias hacen referencia a aficiones personales)
                    fotografía (photoshop cs6)
                    producción musical (logic pro8, audacity, traktor pro2.5)
                    desarrollo de video.(premiere, affter efects)
                    tecnologías aplicadas a la música (hardware native instruments x1, f1, s4).
                    dirección y maquetación de audiovisuales

                </p>
                </p>
            </div>
        </div>
    </div>



    <div class="col col-sm-2">
        <div class="card">
            <img src="/img/icons/social.png" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Adicional</h5>
                <p class="card-text">
                <p>
                    gran capacidad de adaptación
                    aprendizaje rápido y fácil capacidad de asimilación
                    facilidad para trabajar en equipo
                    persona proactiva y comprometida
                    ganas de trabajar y crecer tanto profesional como personalmente, de una manera continua, regular
                    y constante.

                </p>
                </p>
            </div>
        </div>
    </div>


</div>