<div class="row">
    <div class="col col-md-12">
        <div class="card">

            <div class="card-body">
                <p class="card-text">
                <div class="row">
                    <div class="col col-md-3  letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/windows.png">
                        </div>

                        <h5><u>Windows Desktop</u></h5>
                        <ul class="list-group">

                            <li class="list-group-item">
                                Windows 10 home / profesional / enterprise x32 & x64
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%"></div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Windows 8 Home / profesional / enterprise x32 & x64
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Windows 7 Home / profesional / enterprise x32 & x64
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Windows Visate Home / enterprise x32 & x64
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Windows XP Service Pack 3
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Windows 2000
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                            </li>

                        </ul>
                    </div>


                    <div class="col col-md-3  letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/windows-server.png">
                        </div>

                        <h5><u>Windows Server</u></h5>
                        <ul class="list-group">


                            <li class="list-group-item">
                                Windows server 2019 (dns, dhcp, ad,gpos, wds,sccm,hyperv)
                            </li>
                            <li class="list-group-item">
                                Windows server 2016 (dns, dhcp, ad,gpos, wds,sccm,hyperv)
                            </li>
                            <li class="list-group-item">
                                Windows server 2012 (dns, dhcp, ad,gpos, wds,sccm,hyperv)
                            </li>
                            <li class="list-group-item">
                                Windows server 2008 (dns, dhcp, ad,gpos, wds,sccm,hyperv)
                            </li>

                        </ul>
                    </div>

                    <div class="col col-md-3 letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/network.png">
                        </div>

                        <h5><u>Redes y comunicaciones </u></h5>
                        <ul class="list-group">


                            <li class="list-group-item">
                                ip v4&v6
                            </li>
                            <li class="list-group-item">
                                tcp /ip
                            </li>
                            <li class="list-group-item">
                                http/https
                            </li>
                            <li class="list-group-item">
                                rdp
                            </li>
                            <li class="list-group-item">
                            <li class="list-group-item">
                                vpn, lan ,wifi, routers, switches,
                            </li>

                        </ul>
                    </div>

                    <div class="col col-md-3  letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/cms.png">
                        </div>

                        <h5><u>CMS (Content Manage System)</u></h5>
                        <ul class="list-group">


                            <li class="list-group-item">
                                Joomla
                            </li>
                            <li class="list-group-item">
                                Word Press
                            </li>
                            <li class="list-group-item">
                                Drupal
                            </li>
                            <li class="list-group-item">
                                rdp
                            </li>
                            <li class="list-group-item">
                                vpn, lan ,wifi, routers, switches,
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="row">

                    <div class="col col-md-3 letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/linux.png">
                        </div>

                        <h5><u>Linux / Unix</u></h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Ubuntu 7 / 20.04
                            </li>
                            <li class="list-group-item">
                                Open Suse
                            </li>
                            <li class="list-group-item">
                                Mac Os X Snow Leopard
                            </li>
                            <li class="list-group-item">
                                CentOs 7 / Centron
                            </li>
                            <li class="list-group-item">
                                Debian 7.1 / 8
                            </li>
                        </ul>
                    </div>

                    <div class="col col-md-3  letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/backup.png">
                        </div>

                        <h5><u>Back-Up</u></h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Cobian Bcak Up
                            </li>
                            <li class="list-group-item">
                                Open Suse
                            </li>
                            <li class="list-group-item">
                                Mac Os X Snow Leopard
                            </li>
                            <li class="list-group-item">
                                CentOs 7 / Centron
                            </li>
                            <li class="list-group-item">
                                Debian 7.1 / 8
                            </li>
                        </ul>
                    </div>

                    <div class="col col-md-3 letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/security.png">
                        </div>

                        <h5><u>Seguridad</u></h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Ubuntu 7 / 20.04
                            </li>
                            <li class="list-group-item">
                                Open Suse
                            </li>
                            <li class="list-group-item">
                                Mac Os X Snow Leopard
                            </li>
                            <li class="list-group-item">
                                CentOs 7 / Centron
                            </li>
                            <li class="list-group-item">
                                Debian 7.1 / 8

                            </li>
                        </ul>
                    </div>


                    <div class="col col-md-3 letraSmall">
                        <div class="text-center">
                            <img src="/img/icons/office.png">
                        </div>

                        <h5><u>Ofimatica</u></h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Excel
                            </li>
                            <li class="list-group-item">
                                Access
                            </li>
                            <li class="list-group-item">
                                Word
                            </li>
                            <li class="list-group-item">
                                Power Point
                            </li>
                            <li class="list-group-item">
                                PDF
                            </li>
                        </ul>
                    </div>

                </div>
                </p>
            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col col-md-12">
        <div class="card">


            <div class="card-body">
                <p class="card-text">

                <h5><u> Lenguajes de programación:</u></h5>
                <ul class="list-group letraSmall">





                    <li class="list-group-item">
                        visual basic .net / c# > entity framework & linq; asp.net(mvc) (visual studio
                        2010/2019)
                    </li>
                    <li class="list-group-item">
                        java se (netbeans, eclipse), sprng
                    </li>
                    <li class="list-group-item">
                        sql, transact-sql, pl/sql (sql server 2008/2016 oracle database 9i /11g)
                    </li>
                    <li class="list-group-item">
                        xml / html / html5 / css3 (con dreamweaver antiguamente)
                    </li>








                </ul>

                </p>
            </div>

        </div>
    </div>
</div>
