@{
  DateTime hoy = DateTime.Today;
  DateTime comienzo = Convert.ToDateTime("2019-07-15");
  TimeSpan difFechas = comienzo - hoy;
  int dias = difFechas.Days * -1;
}


<div class="accordion accordion-flush" id="accordionflushexample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingone">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone">
        Programador .NET &nbsp;<span class="badge bg-primary">@dias dias</span>
      </button>
    </h2>
    <div id="flush-collapseone" class="accordion-collapse collapse" aria-labelledby="flush-headingone"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">
        <div class="row border-bottom border-primary">
          <div class="col-md-9">
            <ul class="list-group mb-1">
              <li class="list-group-item active text-center" aria-current="true">Principales actividades y
                responsabilidades</li>
              <li class="list-group-item">Desarrollo y mantenimiento de aplicaciones bajo tecnología de microsoft,
                .net framework 4.6/ 4.7.2 (migrando a 4.8 ) y sql server 2012</li>
              <li class="list-group-item">Uso de patrón mvc para desarrollo web con asp. net, combinado con ajax y java
                script sobre html con bootstrap 3 para la parte front
              <li class="list-group-item">Desarrollo de software sobre arquitectura orientada a aplicaciones sobre
                servicios (wcf).</li>
              <li class="list-group-item">Uso de librería epplus para elaboracion de informes excel.</li>
              <li class="list-group-item">Uso de sintaxis linq para optimización en tratado de consultas</li>
              <li class="list-group-item">Uso de lenguaje t-sql y pl/sql para consultas sobre base de datos</li>
              <li class="list-group-item">Control de versiones: tfs con cliente source tree (gitkraken es mi preferido)
              </li>
              <li class="list-group-item">Prácticas de metodologías ágiles (kanbanflow)</li>
            </ul>
            <small>Duración: desde Julio 2019 hasta la actualidad (@dias días)</small>

          </div>
          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p>Optimissa Capital Markets Consulting</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Consultora de tecnologías de la información especializada en banca y finanzas.">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: C\ Jose Echegaray, 28230, Las Rozas, Madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Banc Sabadell.</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa" data-bs-content="Tipo de empresa o sector: Banca y finanzas.">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: C\ Isabel Collbrand 22, Las Tablas, Madrid.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingtwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo">
        Administrador de sistemas &nbsp;<span class="badge bg-secondary">@dias dias</span>
      </button>
    </h2>
    <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">
        <div class="row border-bottom border-primary">
          <div class="col-md-9">
            <ul class="list-group mb-1">
              <li class="list-group-item active text-center">
                principales actividades y responsabilidades
              </li>
              <li class="list-group-item">
                administración de servidores de virtualización vmware e hyper-v
              </li>
              <li class="list-group-item">
                administración de servidores windows server 2008 /2012, servidores centos 7 (cli-version) virtualizados
                sobre
                wmware/hyper-v y físicos
              </li>
              <li class="list-group-item">
                gestión y control de servicios proporcionados por los servidores: correo electrónico sobre outlook 2010,
                hospadaje web del instituto, apliaciones web públicas, aplicaciones internas
              </li>
              <li class="list-group-item">
                mantenimiento del programa de back (cabina emc)
              </li>
              <li class="list-group-item">
                gestión de usuarios en red wifi
              </li>
            </ul>
            <small>Duración de noviembre 2018 hasta julio 2019</small>
          </div>
          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p>Grupo ICA </p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Consultora de Tecnologías de la Información">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: C\ pendiente 28230, Las Rozas, Madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Instituto Nacional de Seguridad y Salud en el trabajo<br />INSST</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Administraciones públicas del Estado">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: C\ Isabel Collbrand 22, Las Tablas, Madrid.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingthree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapsethree" aria-expanded="false" aria-controls="flush-collapsethree">
        Responsable técnico &nbsp;<span class="badge bg-secondary">@dias dias</span>
      </button>
    </h2>
    <div id="flush-collapsethree" class="accordion-collapse collapse" aria-labelledby="flush-headingthree"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">
        <div class="row border-bottom border-primary">
          <div class="col-md-9">
            <ul class="list-group mb-1">

              <li class="list-group-item active">
                Principales actividades y responsabilidades

              <li class="list-group-item">
                servicio para más de 250 usuarios y más de 400 dispositivos. (hp & dell)
              </li>
              <li class="list-group-item">
                a cargo de un equipo de 3 personas, (organización de horarios, vacaciones y bajas, reporte de horas al
                cliente,
                reuniones periódicas de seguimiento).
              </li>
              <li class="list-group-item">
                responsable de asumir el cargo en caso de incidencias graves.
              </li>
              <li class="list-group-item">
                responsable en la ejecución de proyectos de optimización hardware y sistemas operativos (máquinas
                virtuales
                citrix (xen desktop & xen app [lado cliente]) thin-clients, sobremesa, blades, portátiles – windows
                xp/vista/7/8/8.1/10)
              </li>
              <li class="list-group-item">
                mantenimiento y apoyo a software cliente de servicios (lync, antivirus symantec, gestión de
                almacenamiento en
                red, utilidades de escritorio)
              </li>
              <li class="list-group-item">
                soporte presencial a usuarios de mercados de capitales, tesorería, análisis financiero, bróker &
                trading.
                (soporte a software propio del sector - bloomberg, thomson reuters, factset, goldman, bme, bnp,
                barclays, y
                diverso software de entidades financieras…)
              </li>
              <li class="list-group-item">
                actualización de permisos en servidor reuters (red hat ent.) scripting (bash)
              </li>
              <li class="list-group-item">
                gestión, seguimiento y resolución de incidencias y peticiones por medio de herramientas de productividad
                y
                ticketing: service manager
              </li>
              <li class="list-group-item">
                desarrollo propio de herramientas de ticketing personalizadas para la gestión de procesos concretos
                escritas en
                vb .net y c# con visual studio 2005/2015 y sql server 2005/2016)
              </li>
              <li class="list-group-item">
                automatización de tareas mediante ficheros .bat y scripting (windows terminal)
              </li>
              <li class="list-group-item">
                gestión de aplicaciones publicadas para el cliente citrix recivier (cliente de escritorio y
                smartphones).
              </li>
              <li class="list-group-item">
                gestión de incidencias con proveedores de servicios y software producto de terceros (bme, visual trader,
                bloomberg, eikon, factset, bnp, telefónica s.a)
              </li>
              <li class="list-group-item">
                soporte 1º nivel de telefonía ipc (telefónica) (unigy server /client & turret)
              </li>
              <li class="list-group-item">
                configuración de salas de videoconferencia (cisco)
              </li>
              <li class="list-group-item">
                soporte office suite (2003/2016) & vba (outlook, excel, access, word, powerpoint) soporte a
                complementos,
                macros, configuración
              </li>
              <li class="list-group-item">
                elaboración y reporte de informes de estado de servicio (mensual & anual).
              </li>
              <li class="list-group-item">
                optimización de procesos mediante software y metodología social.
              </li>
              <li class="list-group-item">
                publicación de procedimientos en formato html&css (uso de herramientas de emulación de servidores web
                wamp,
                lamp, mamp) para que se dispongan en la red en modo de consulta web.
              </li>


            </ul>
            <small>Duración desde Octubre 2016 hasta Noviembre 2018</small>
          </div>

          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p>esfds/dxc (hpcds) </p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Consultora de Tecnologías de la Información">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: c\ Jose Echegaray,8 edif 3 ,28230, Las rozas de madrid, madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-1">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Banco Sabadell</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Administraciones públicas del Estado">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: C\ Isabel Collbrand 22, Las Tablas, Madrid.</small>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
        Técnico especialista &nbsp;<span class="badge bg-secondary">@dias dias</span>
      </button>
    </h2>
    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">
        <div class="row border-bottom border-primary">
          <div class="col-md-9">
            <ul class="list-group mb-1">

              <li class="list-group-item active">
                principales actividades y responsabilidades
              </li>
              <li class="list-group-item">
                servicio para más de 200 usuarios y más de 300 dispositivos. (hp)
              </li>
              <li class="list-group-item">
                ejecución de proyectos de optimización hardware & s.o. (máquinas virtuales citrix (xen app), thin-client
                windows8 ent., blade windows7 ent., portatiles windows10 ent.)
              </li>
              <li class="list-group-item">
                gestión de aplicaciones publicadas para el cliente citrix recivier (cliente de escritorio y
                smartphones).
              </li>
              <li class="list-group-item">
                gestión de incidencias con proveedores de servicios y software producto de terceros (bme, visual trader,
                bloomberg, eikon, factset, bnp, telefónica s.a)
              </li>
              <li class="list-group-item">
                soporte 1º nivel de telefonía ipc (unigy server /client & turret)
              </li>
              <li class="list-group-item">
                configuración de salas de videoconferencia (cisco)
              </li>
              <li class="list-group-item">
                soporte office suite & vba (outlook, excel, access, word, powerpoint)
              </li>
            </ul>
            <small>Duración: desde Mayo 2015 a Octubre 2016</small>
          </div>

          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p>Optimissa Capital Markets Consulting</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Consultora de Tecnologías de la Información">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: C\ Jose Echegaray, 28230, Las rozas de madrid, madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Banco Sabadell</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa" data-bs-content="Tipo de empresa o sector: Banca y finanzas">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: C\ Isabel Collbrand 22, Las Tablas, Madrid.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
        Soporte presencial (CAU) &nbsp;<span class="badge bg-secondary">@dias dias</span>
      </button>
    </h2>
    <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">
        <div class="row border-bottom border-primary">
          <div class="col-md-9">
            <ul class="list-group mb-1">

              <li class="list-group-item active">
                principales actividades y responsabilidades
              </li>
              <li class="list-group-item">
                servicio para más de 5.000 usuarios y más de 10.000 dispositivos. (hp, dell)
              </li>
              <li class="list-group-item">
                segundo responsable del servicio de soporte presencial.
              </li>
              <li class="list-group-item">
                soporte a usuarios hardware & software. (redes, dominio, telefonía fija ip de cisco)
              </li>
              <li class="list-group-item">
                gestión y entrega de material informático (inventarios, reportes de material, coordinador con del
                departamento
                de logística).
              </li>
              <li class="list-group-item">
                configuración conexiones remotas para usuarios desplazados (citrix, vpn, rdp, configuración proxy,
                entornos de
                mobility).
              </li>
              <li class="list-group-item">
                configuración dispositivos móviles apple (ios) & samsung (android) (móvil, tablet, tablet-pc).
              </li>
              <li class="list-group-item">
                tratado de incidencias por medio de diversas herramientas de ticketing y formularios (remedy (bmc),
                navision,
                appmobile, intranet).
              </li>
              <li class="list-group-item">
                elaboración / reporte de informes y procedimientos de distintas naturalezas y niveles.
              </li>


            </ul>
            <small> Duración: desde Septiembre 2013 a Mayo 2015</small>
          </div>


          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p>COS Mantenimiento</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: Consultora de Tecnologías de la Información">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: C\ Jose Echegaray, 28230, Las rozas de madrid, madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Repsol S.A.</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa" data-bs-content="Tipo de empresa o sector: Energéticas">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: c\ Mendez Ávlvaro 44, 28036, Madrid</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingsix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
        Responsable Help-desk, soporte hardware, software y comunicaciones &nbsp;<span class="badge bg-secondary">@dias
          dias</span>
      </button>
    </h2>
    <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">
        <div class="row border-bottom border-primary">
          <div class="col-md-9">

            <ul class="list-group mb-1">
              <li class="list-group-item active text-center">
                Principales actividades y responsabilidades
              </li>

              <li class="list-group-item">
                servicio para más de 300 usuarios y más de 600 equipos. (ibm, dell, hp, lenovo)
              </li>
              <li class="list-group-item">
                al cargo de una a cinco personas.
              </li>
              <li class="list-group-item">
                despliegues / implementaciones software
              </li>
              <li class="list-group-item">
                formador para nuevas incorporaciones
              </li>
              <li class="list-group-item">
                gestión documental y de servicio en lotus domino 6.5
              </li>
              <li class="list-group-item">
                apoyo al mantenimiento de servidores y servicios:
              </li>
              <li class="list-group-item">
                revisiones diarias de estado de salas de servidores.
              </li>
              <li class="list-group-item">
                comprobación mediante software del estado de servicios (open suse)
              </li>
              <li class="list-group-item">
                comprobación de máquinas vmware esx. tanto el anfitrión físico como las virtuales invitadas (revisión de
                dominio, correo y recursos de red)
              </li>
              <li class="list-group-item">
                gestión y administración de activedirectory / windowsserver2008 (grupos de usuarios y permisos). gestión
                de
                redes wifi (procurve software),
              </li>
              <li class="list-group-item">
                soporte especifico a usuario para microsoft dynamics axapta 2009,
              </li>
              <li class="list-group-item">
                administración accesos remotos para usuarios desplazados (citrix, xen app web, token).
              </li>
              <li class="list-group-item">
                monitorización de vwware y herramientas de virtualización.
              </li>
              <li class="list-group-item">
                apoyo secundario / respaldo de administración back-up:
              </li>
              <li class="list-group-item">
                gestión cintas (sdtl1, dtl-4, lto-4, lto-5).
              </li>
              <li class="list-group-item">
                configuración de software (networker server7.4.7 / 7.6.5 y networker client).
              </li>
              <li class="list-group-item">
                clientes back-up por licencia, grupos de back-up, scheduled, savesets, grupos de clonado y
                automatizaciones.
              </li>
              gestión de librerías quantum i-500 / i-40 y storagetek i-40.
              <li class="list-group-item">
                administración de librerías back-up, recurso web (scalar - i500).
              </li>
              <li class="list-group-item">
                monitoreo de software cliente back en clientes windows y unix
              </li>
              <li class="list-group-item">
                almacenamiento físico y cumplimiento de normativa empresarial y estandarización legislada).
              </li>
              <li class="list-group-item">
                gestión de almacén: gestión de activos hardware & software, inventarios, reportes de material, informes
                de
                gastos, proyectos de reducción de costes.

              </li>
            </ul>
            <small> Duración desde Octubre 2007 a Agosto 2013</small>
          </div>
          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p> GM Soft</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: PYME de Tecnologías de la Información">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: C\ Jose Echegaray, 28230, Las rozas de madrid, madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Thales Alenia Space</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa" data-bs-content="Tipo de empresa o sector: Telecomunicaciones">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: c\ einstein 7, 28786, Tres Cantos, Madrid (parque tecnologico de madrid -
                  PTM)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingseven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
        Tecnico Soporte Nivel 1 &nbsp;<span class="badge bg-secondary">@dias dias</span>
      </button>
    </h2>
    <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven"
      data-bs-parent="#accordionflushexample">
      <div class="accordion-body">

        <div class="row border-bottom border-primary">
          <div class="col-md-9">
            <ul>
              <li class="list-group-item active text-center">
                principales actividades y responsabilidades
              </li>

              <li class="list-group-item">
                resolución de incidencias en departamento de banca telefónica de tarjetas de crédito.
              </li>

              <li class="list-group-item">
                soporte técnico nivel 1.
              </li>

              <li class="list-group-item">
                escalado de incidencias
              </li>

              <li class="list-group-item">
                reporte de estadísticas.
              </li>

            </ul>
            <small> Duración: desde Noviembre 2005 a Octubre 2007</small>

          </div>



          <div class="col-md-3">

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Empleador
              </div>
              <div class="card-body">
                <p class="card-text">
                <p> ????</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa"
                  data-bs-content="Tipo de empresa o sector: PYME de Tecnologías de la Información">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del empleador: C\ Jose Echegaray, 28230, Las rozas de madrid, madrid.</small>
              </div>
            </div>

            <div class="card w-100 text-center mb-2">
              <div class="card-header">
                Cliente
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <p>Banco Popular</p>
                <button type="button" class="btn btn-sm btn-link popovers" data-bs-toggle="popover"
                  title="Detalle empresa" data-bs-content="Tipo de empresa o sector: Banca y finanzas">Ver
                  detalle</button>
                </p>
              </div>
              <div class="card-footer text-muted">
                <small>Dirección del Cliente: c\ juan ignacio luca de tena 18, madrid, madrid</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
