
<h5>FORMACIÓN REGLADA </h5>
<div class="accordion accordion-flush" id="accordionFormacionReglada">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                Grado Superior DAM
            </button>
        </h2>
        <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1"
            data-bs-parent="#accordionFormacionReglada">
            <div class="accordion-body">
                <ul>
                    <li>
                        fechas octubre 2018 a junio 2021
                    </li>
                    <li>
                        organización que ha impartido la educación o la formación centro san valero / grupo san valero
                    </li>
                    <li>
                        principales materias y capacidades ocupacionales tratadas ciclo de grado superior en desarrollo
                        de aplicaciones multiplataforma (dam)
                    </li>
                    <li>
                        título de la cualificación que se obtendrá título oficial de grado sueperior en desarrollo de
                        aplicaciones multiplataforma
                    </li>
                </ul>

                <ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                    Acceso a Grado Superior
                </button>
            </h2>
            <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2"
                data-bs-parent="#accordionFormacionReglada">
                <div class="accordion-body">
                    <ul>
                        <li>
                            fechas julio 2010 (preparación independiente durante 1 año)
                        </li>
                        <li>
                            organización que ha impartido la educación o la formación consejería de educación de la
                            comunidad de madrid
                        </li>
                        <li>
                            principales materias y capacidades ocupacionales tratadas pruebas de acceso a ciclos de
                            grado superior
                        </li>
                        <li>
                            título de la cualificación obtenida título de certificación estatal para el acceso a ciclos
                            de grado superior
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                    Tecnico Informatico
                </button>
            </h2>
            <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
                data-bs-parent="#accordionFormacionReglada">
                <div class="accordion-body">
                    <ul>
                        <li>
                            fechas de 5 mayo 2007 a 5 julio 2007
                        </li>
                        <li>
                            organización que ha impartido la educación c.e.a.c.
                        </li>
                        <li>
                            principales materias o capacidades ocupacionales tratadas tecnologías de la información
                        </li>
                        <li>
                            título de la cualificación obtenida certificado técnico informático
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                    Diseño Web y Multimedia
                </button>
            </h2>
            <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                data-bs-parent="#accordionFormacionReglada">
                <div class="accordion-body">
                    <ul>
                        <li>
                            fechas de junio 2006 a septiembre 2006
                        </li>
                        <li>
                            organización que ha impartido la educación consejería de educación de la comunidad de madrid
                        </li>
                        <li>
                            principales materias o capacidades ocupacionales tratadas diseñador web y multimedia
                        </li>
                        <li>
                            título de la cualificación obtenida certificado de formación completa
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                    Graduado Escolar
                </button>
            </h2>
            <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                data-bs-parent="#accordionFormacionReglada">
                <div class="accordion-body">
                    <ul>
                        <li>
                            fechas de octubre 1999 a junio 2003
                        </li>
                        <li>
                            organización que ha impartido la educación colegio cooperativa espíritu santo
                        </li>
                        <li>
                            principales materias o capacidades ocupacionales tratadas educación secundaria obligatoria
                            (e.s.o.)
                        </li>
                        <li>
                            título de la cualificación obtenida certificado de escolarización completado.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<h5>FORMACIÓN COMPLEMENTARIA </h5>

<div class="accordion accordion-flush" id="accordionFormacionComplement">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                AutoDidacta
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFormacionComplement">
            <div class="accordion-body">
                <ul>
                    <li>
                        fechas de agosto 2016 hasta 2018
                    </li>
                    <li>
                        principales materias o capacidades ocupacionales tratadas desarrollo, arquitectura y
                        programación en c# / vb
                        /
                        asp. net/ java / java script
                    </li>
                    <li>
                        desarrollo de consultas. configuración y diseño de bases de datos
                    </li>
                    <li>
                        sql, transact-sql, (pl&sql básico) ( sql server, mysql, oracle database, php my admin)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Curso CMS Joomla
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFormacionComplement">
            <div class="accordion-body">
                <ul>
                    <li>
                        FECHAS NOVIEMBRE 2012 HASTA EL MOMENTO ACTUAL
                    </li>
                    <li>
                        ORGANIZACIÓN QUE HA IMPARTIDO LA EDUCACIÓN PIXELPRO (CURSOS ON-LINE)
                    </li>
                    <li>
                        PRINCIPALES MATERIAS O CAPACIDADES OCUPACIONALES TRATADAS - USO PROFESIONAL DE GESTORES DE
                        CONTENIDO JOOMLA,
                        WORDPRESS, DRUPAL.
                        <ul>
                            <li>
                                EDICIÓN DE PLANTILLAS EN HTML5 Y CSS3.
                            </li>
                            <li>
                                FUNDAMENTOS PHP Y SQL
                            </li>
                            <li>
                                USO PROFESIONAL DE LAS TÉCNICAS SEO, SEM, SMO Y LINKBUILDING.
                            </li>
                            <li>
                                CREACIÓN Y DESARROLLO DE ENTORNOS WEB 2.0
                            </li>
                        </ul>
                    </li>
                    <li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFormacionComplement">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                happening here in terms of content, but just filling up the space to make it look, at least at first
                glance, a bit more representative of how this would look in a real-world application.
            </div>
        </div>
    </div>
</div>
