<h5>FORMACIÓN REGLADA </h5>

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col col-sm-9 mb-2">
            
          
            <div class="card text-center">
                <div class="card-header bg-secondary text-white text-center btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#collapseUni" aria-expanded="false" aria-controls="collapseUni">Grado Universitario
                </div>
                <div class="text-center mt-3">
                    <img src="/img/sanvalero.png" class="card-img- w-25 border border-2  border-primary rounded-pill"
                        alt="foto marco">
                </div>

                <div class="card-body collapse" id="collapseUni">
                    <h5 class="card-title">Grado Universitario en BioInformatica</h5>
                    <p class="card-text">

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <span class="text-primary"> fechas </span><strong> ???</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> organización que ha impartido la educación o la formación
                            </span><strong>UCAV / San Jorge ??</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> principales materias y capacidades ocupacionales
                                tratadas</span>
                            <strong>Grado Universitario en BioInformatica</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> título de la cualificación que se obtendrá :</span>
                            <strong>###</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-secondary">Ver Titulacion</span>
                        </li>
                    </ul>

                    </p>
                </div>
            </div>
        

        </div>

        <div class="col col-sm-9 mb-2">

            <div class="card text-center">
                <div class="card-header bg-primary text-white text-center btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#collapseGS" aria-expanded="false" aria-controls="collapseGS">Grado Superior</div>
                <div class="text-center mt-3">
                    <img src="/img/sanvalero.png" class="card-img- w-25 border border-2  border-primary rounded-pill"
                        alt="foto marco">
                </div>

                <div class="card-body collapse" id="collapseGS">
                    <h5 class="card-title">Grado Superior DAM</h5>
                    <p class="card-text">

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <span class="text-primary"> fechas </span><strong>octubre 2018 a junio 2021</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> organización que ha impartido la educación o la formación
                            </span><strong>centro san valero / grupo san valero </strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> principales materias y capacidades ocupacionales tratadas</span>
                            <strong>ciclo de grado superior en desarrollo de aplicaciones multiplataforma (dam)</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> título de la cualificación que se obtendrá :</span>
                            <strong>título oficial de grado sueperior en desarrollo de aplicaciones
                                multiplataforma</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary">Ver Titulacion</span>
                        </li>
                    </ul>

                    </p>
                </div>
            </div>
        </div>

        <div class="col col-sm-9 mb-2">

            <div class="card text-center">
                <div class="card-header bg-primary text-white text-center btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#collapseAGS" aria-expanded="false" aria-controls="collapseAGS">Acceso Grado Superior</div>
                <div class="text-center mt-3">
                    <img src="/img/sanvalero.png" class="card-img- w-25 border border-2  border-primary rounded-pill"
                        alt="foto marco">
                </div>

                <div class="card-body collapse" id="collapseAGS">
                    <h5 class="card-title">Acceso a Grados Superiorers</h5>
                    <p class="card-text">

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <span class="text-primary"> fechas </span><strong>ulio 2010 (preparación independiente
                                durante 1
                                año)</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> organización que ha impartido la educación o la formación
                            </span><strong>consejería de educación de la comunidad de madrid </strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> principales materias y capacidades ocupacionales tratadas</span>
                            <strong>pruebas de acceso a ciclos de grado superior</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> título de la cualificación que se obtendrá :</span>
                            <strong>título de certificación estatal para el acceso a ciclos de grado superior</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary">Ver Titulacion</span>
                        </li>
                    </ul>

                    </p>
                </div>
            </div>
        </div>


        <div class="col col-sm-9 mb-2">

            <div class="card text-center">
                <div class="card-header bg-primary text-white text-center btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#collapseESO" aria-expanded="false" aria-controls="collapseESO"> Graduado Escolar</div>
                <div class="text-center mt-3">
                    <img src="/img/sanvalero.png" class="card-img- w-25 border border-2  border-primary rounded-pill"
                        alt="foto marco">
                </div>

                <div class="card-body collapse" id="collapseESO">
                    <h5 class="card-title"> Graduado Escolar</h5>
                    <p class="card-text">

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <span class="text-primary"> fechas </span><strong>de octubre 1999 a junio 2003</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> organización que ha impartido la educación o la formación
                            </span><strong>colegio cooperativa espíritu santo</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> principales materias y capacidades ocupacionales tratadas</span>
                            <strong>educación secundaria obligatoria (e.s.o.)</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary"> título de la cualificación que se obtendrá :</span>
                            <strong>certificado de escolarización completado.</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="text-primary">Ver Titulacion</span>
                        </li>
                    </ul>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<h5>FORMACIÓN COMPLEMENTARIA </h5>


<div class="row justify-content-center">

    <div class="col col-sm-9 mb-2">

        <div class="card text-center">
            <div class="card-header bg-primary text-white text-center btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#collapseCMS" aria-expanded="false" aria-controls="collapseCMS"> Curso Online</div>
            <div class="text-center mt-3">
                <img src="/img/sanvalero.png" class="card-img- w-25 border border-2  border-primary rounded-pill"
                    alt="foto marco">
            </div>

            <div class="card-body collapse" id="collapseCMS">
                <h5 class="card-title"> Curso CMS Joomla</h5>
                <p class="card-text">

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <span class="text-primary"> fechas </span><strong>NOVIEMBRE 2012 HASTA NOVIEMBRE 2013</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="text-primary"> organización que ha impartido la educación o la formación
                        </span><strong>PIXELPRO (CURSOS ON-LINE)</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="text-primary"> principales materias y capacidades ocupacionales tratadas</span>
                        <strong>USO PROFESIONAL DE GESTORES DE CONTENIDO JOOMLA,<br />
                            EDICIÓN DE PLANTILLAS EN HTML5 Y CSS3.<br />
                            FUNDAMENTOS PHP Y SQL<br />
                            USO PROFESIONAL DE LAS TÉCNICAS SEO, SEM, SMO Y LINKBUILDING.<br />
                        </strong>
                    </li>
                    <li class="list-group-item">
                        <span class="text-primary"> título de la cualificación que se obtendrá :</span>
                        <strong>certificado de formación completa</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="text-primary">Ver Titulacion</span>
                    </li>
                </ul>

                </p>
            </div>
        </div>
    </div>
</div>